.user {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  margin:0 auto 50px;
}


@media screen and (max-width: 768px) {
  .user{
    min-height: 286px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 36px ;
  }
}
