.gallery__like-botton {
  padding: 0;
  margin: 5px 1px 5px 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  background-image: url(../../../images/like/like-disabled.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;

  transition: opacity 0.5s ease-in-out;
}

.gallery__like-botton:hover {
  opacity: 0.6;
  cursor: pointer;
}

.gallery__like-botton:active {
  background-image: url(../../../images/like/like-active.svg);
  opacity: 1;
}
